* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.sec_headline {
  height: 590px;
  margin-top: 10px;

  background-image: url(/static/images/des.png);
  background-repeat: no-repeat;
  background-position: right 50vh;
  background-color: #1c1a19;
}

.sec_myworks {
  color: #1c1a19;
  background: #e5e5e5;
}

@media (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 500vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    background-size: 25vw;
  }

  .sec_headline {
    height: 590px;
    margin-top: 10px;
    background-image: url(/static/images/des.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 25vw;
    background-color: #1c1a19;
  }
}

.sec_myworks {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-content: center;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #333;
}

.head div {
  margin-left: 20px;
  margin-right: 20px;
}

.logo img {
  width: 60px;
  border-radius: 50%;
}

.name h1 {
  font-size: 56px;
  font-family: 'Crete Round', Arial, Helvetica, sans-serif;
  color: #ff6b00;
}

.name h3 {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

.content-1 {
  width: 80vw;
  padding-top: 120px;
  padding-left: 30px;
  padding-right: 50px;
}

.description {
  margin-top: 10px;
}

.description p {
  width: 87%;
  font-size: 16px;
  font-family: 'Popins', Arial, Helvetica, sans-serif;
  letter-spacing: 0.7px;
}

.menu img:hover {
  background-color: gray;
}

.menu {
  margin-right: 20px;
}

.social {
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.social ul {
  width: 100%;
  list-style-type: none;
}

.social ul li {
  display: inline-block;
  padding: 2%;
}

/* Section 2 */
.content-2 {
  width: 87.2vw;
  min-height: 750px;
  background-color: #fff;
  text-align: left;
}

.content-2 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.content-2 div .title {
  display: flex;
  height: 150px;
  align-items: center;
  justify-content: center;
  border-bottom: #1c1a19 solid 2px;
}

.content-2 div .img_placeholder {
  margin-left: auto;
  margin-right: auto;
  padding-top: 10vh;
}

.content-2 .img_placeholder img {
  width: 70vw;
}

.content-2 div .summary {
  width: 70vw;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.content-2 .title h1 {
  font-family: 'Crete Round', Arial, Helvetica, sans-serif;
  font-size: 40px;
}

.content-2 .summary h2 {
  font-family: 'Crete Round', Arial, Helvetica, sans-serif;
  font-size: 32px;
}

.content-2 .summary {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.7px;
}

.buttons-1 ul {
  display: flex;
  margin-top: 10px;
}

.buttons-1 ul li {
  margin-right: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  list-style-type: none;
  border: #1c1a19 1px solid;
}

.see {
  margin-top: 15px;
}

.btn_see_proj {
  width: fit-content;
  color: #fff;
  padding: 10px;
  background-color: #ff6b00;
  font-size: 17px;
  font-weight: 700;
  border: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.show_case {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 87.2vw;
  height: 590px;
  background-image: url(/static/images/bg2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.show_case h2 {
  padding-left: 10px;
  font-family: 'Crete Round', Arial, Helvetica, sans-serif;
  font-size: 32px;
}

.show_case p {
  width: 75vw;
  padding-left: 10px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.7px;
}

.show_case ul {
  padding-left: 10px;
}

.button_width {
  width: 100%;
}

.button_color {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.24);
}

.show_case h2,
.show_case p {
  color: #fff;
}

/* About Section */
.about {
  width: 87.2vw;
  height: 600px;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  background-color: #1c1a19;
  background-image: url(/static/images/art.png);
  background-repeat: no-repeat;
  background-position: right 400px;
}

.about .about_summary {
  width: 70vw;
  height: 500px;
  border-bottom: #fff solid 2px;
  padding-bottom: 45.5vh;
}

.about .about_summary h1 {
  font-family: 'Crete Round', Arial, Helvetica, sans-serif;
  font-size: 72px;
  font-weight: 400;
  color: #ff6b00;
}

.about .about_summary p {
  width: 68vw;
  padding-left: 10px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.7px;
}

.about .about_summary .see {
  margin-left: 10px;
}

.languages {
  width: 87.2vw;
  height: 640px;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  background-color: #1c1a19;
  border-bottom: #ff6b00 solid 2px;
}

.languages .lg {
  border: #ff6b00 solid 5px;
}

.languages ul {
  text-align: center;
  list-style-type: none;
}

.languages ul li {
  text-align: center;
  margin: 13px;
}

.languages ul li h3 {
  display: inline;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 32;
  font-weight: 700px;
  font-family: 'InaiMathi', Arial, Helvetica, sans-serif;
}

.languages ul li.prog_lg:before {
  content: '\2666';
  color: #ff6b00;
  font-size: 25px;
}

.languages ul li.frameworks:before {
  content: '\25AA';
  color: #ff6b00;
  font-size: 35px;
}

.languages ul li.skills:before {
  content: '\2022';
  color: #ff6b00;
  font-size: 35px;
}

.languages ul li ul li {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.7px;
}

/* contact form  */
.contact_form {
  width: 87.2vw;
  height: 750px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  border-bottom: #dfe1e6 solid 2px;
  background-color: #fff;
}

.contact_form div p {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 32px;
  line-height: normal;
  font-weight: 700;
  color: #1c1a19;
  text-align: center;
}

.contact_form div {
  height: 100%;
  ;
  margin: 30px;
}

.contact_form .form {
  width: 100%;
}

.contact_form .form form {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;

}

.contact_form .form form input {
  border: 0;
  border-bottom: #dbd8d7 solid 1px;
  margin: 20px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.contact_form .form form textarea {
  background-color: e5e5e5;
  border: #dbd8d7 solid 1px;
  margin: 20px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.btn_get_in_thouch {
  color: #fff;
  padding: 10px;
  background-color: #ff6b00;
  font-size: 17px;
  font-weight: 700;
  border: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

button:hover {
  background-color: #fff5e1;
  color: #ff6b00;
  border: #ff6b00 solid 1px;
}

.foot_social {
  width: 87.2vw;
  background-color: #fff;
  height: 100px;
}

.fsocial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
}

.fsocial ul {
  text-align: center;
  width: 90%;
  list-style-type: none;
}

.fsocial ul li {
  display: inline-block;
  padding: 20px;
}

.fsocial .separator_line {
  width: 35%;
  height: 5px;
  border-top: #1c1a19 solid 4px;
  margin-left: auto;
  margin-right: auto;
}